@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #066046;
  --color-background-light: #f5f8f7;
  --color-background-dark: #10221d;
  --font-display: "Inter", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

:root {
  --background: #f5f8f7;
  --foreground: #0f172a;
  /* slate-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10221d;
    --foreground: #f1f5f9;
    /* slate-100 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.active-nav {
  background-color: rgba(6, 96, 70, 0.1);
  color: #066046;
  border-left: 4px solid #066046;
}